h1{
    color: red;
}


h2
{
    color: red;
}
body
{

    background-image: url("C:\\Users\\ranke\\Downloads\\pleasent.jfif");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}